<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>SKAdNetworkIdentifier</key>
	<string></string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAdvertisingAttributionReportEndpoint</key>
	<string>https://appsflyer-skadnetwork.com/</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSCameraUsageDescription</key>
	<string>To use Webview when user opens a photo</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>To use Webview when user opens a photo</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To use Webview when user opens a photo</string>
	<key>UIAppFonts</key>
	<array>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Rubik-Medium</string>
	</array>
</dict>
</plist>
